- p current_page?(settings_address_path)
- p current_page?(settings_profile_path)
%h1.general-title-margin Settings
%ul.nav.nav-tabs.mb-20
  %li.tab-item{class: ('active' if current_page?(settings_address_path))}
    = link_to 'Address', settings_address_path, class: "mb-10 tab-link"
  %li.tab-item{class: ('active' if current_page?(settings_profile_path))}
    = link_to 'Privacy', settings_profile_path, class: "mb-10 tab-link"
.tab-content
  = yield
