%table.table.table-hover
  %tr.no-hover
    %th.col-pic.pl-0
      %span.in-grey-600 Product
    %th.col-title
    %th.col-price
      %span.in-grey-600 Price
    %th.col-quantity
      %span.in-grey-600 Quantity
    %th.col-total
      %span.in-grey-600 SubTotal
    %th.col-close
  - products.each do |product|
    = fields_for 'products[]', product do |product_fields|
      = product_fields.hidden_field :id
      %tr
        %td
          .general-img-wrap-table
            = image_tag product.cover, class: 'cart-img-shadow pull-left width-full'
        %td
          %p.title= product.title
        %td
          %span.font-16.in-gold-500= product.price
        %td
          .input-group.general-position{class: product.error_class, data: {quantity: true}}
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            = product_fields.text_field :quantity, class: 'form-control quantity-input'
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        %td
          %span.font-16.in-gold-500= product.subtotal
        %td
          = link_to cart_remove_product_path(product), method: :delete, class: 'close general-cart-close' do
            %span{'aria-hidden': "true"} &times;

