%tr
  %td
    .general-img-wrap-table
      = image_tag product.cover, class: 'cart-img-shadow pull-left'
  %td
    %p.title product.title
  %td
    %span.font-16.in-gold-500 product.price
  %td
    = quantity_widget(product)
  %td
    %span.font-16.in-gold-500 product.subtotal
  %td
    -# = product.remove_button
    %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
      %span{'aria-hidden': "true"} &times;
