- flash.each do |name, msg|
  #flash{ :class => "alert alert-#{ name == :notice || name == :success ? "success" : "error"}"}
    .container
      %button.close{ data: { dismiss: "alert" } } &times;
      = msg
