%footer.navbar.navbar-inverse.mb-0
  .container
    .row
      .col-sm-9
        %ul.list-inline.mb-25
          %li
            %a.nav-link{href: "#"} Home
          %li
            %a.nav-link{href: "#"} Shop
          %li
            %a.nav-link{href: "#"} Orders
          %li
            %a.nav-link{href: "#"} Settings
      .col-sm-3
        %ul.list-inline
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
