%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left.ml-15{ type: 'button', data: { toggle: 'collapse', target: '#navbar' } }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', root_path, class: 'navbar-brand'
    = link_to cart_path, class: 'shop-link pull-right', id: 'cart' do
      = render partial: 'layouts/shared/cart'
    .navbar-collapse.collapse.pl-30#navbar{ aria: { expanded: 'false' } }
      %button.close.visible-xs{ type: 'button', aria: { label: 'Close' }, data: { toggle: 'collapse', target: '#navbar' } }
        %span{ aria: { hidden: 'true' } } &times;
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_path
        %li.dropdown
          =link_to 'Shop', categories_path, class: 'dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }
          %ul.dropdown-menu
            - presenter(:header).categories.each do |category|
              %li= link_to category.title, category
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ href: '#', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } } My account
            %ul.dropdown-menu
              %li= link_to 'Orders', '#'
              %li= link_to 'Settings', '#'
              %li.divider
              - if current_user.is_admin
                %li= link_to 'Admin page', rails_admin_path
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Log in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
