= render layout: 'checkout/layout' do
  = form_for current_order, url: wizard_path, method: :put, class: 'res-mb-100' do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('billing_address')
          %p.general-info-text= t('simple_form.titles.required_fields')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('shipping_address')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t('billing_address')
          %p.general-info-text= t('simple_form.titles.required_fields')
        = f.simple_fields_for :billing_address, presenter.billing do |sf|
          = render partial: 'address_fields', locals: { sf: sf }
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle= t('shipping_address')
        = f.simple_fields_for :shipping_address, presenter.shipping do |sf|
          #shipping_address_fields{style: presenter.shipping_fields_style}
            = render partial: 'address_fields', locals: { sf: sf }
        = fields_for 'order[shipping_address]' do |ub|
          .form-group.checkbox{'data-slide-toggle-for': '#shipping_address_fields'}
            %label.font-weight-light.pl-0
              = ub.check_box 'use_billing',
                checked: presenter.use_billing,
                class: 'checkbox-input',
                hidden: true
              %span.checkbox-icon
                %i.fa.fa-check
              %span.checkbox-text= t('simple_form.labels.address.use_billing')

    .general-text-align.mb-60
      = render partial: 'order_summary'
      = f.submit t('simple_form.titles.save_and_continue'),
        class: 'btn btn-default center-block mb-20'
