#slider.carousel.slide{ 'data-ride': "carousel"} 
  %ol.carousel-indicators.general-carousel-indicators
    %li.active{ 'data-target': "#slider", 'data-slide-to': "0"} 
    %li{ 'data-target': "#slider", 'data-slide-to': "1"} 
  .carousel-inner{ role: "listbox"} 
    .item.active
      .row
        .col-sm-5
          .general-img-wrap
            %img.img-shadow.general-thumbnail-img.width-full{ src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"} 
        .col-sm-7
          .mb-60
            %h1 Real-Life Responsive Web Design
            %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
            %p.in-grey-600.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
            .general-align.pt-20
              %button.disabled.btn Buy Now
    .item
      .row
        .col-sm-5
          .general-img-wrap
            %img.img-shadow.general-thumbnail-img.width-full{ src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"} 
        .col-sm-7
          .mb-60
            %h1 Real-Life Responsive Web Design
            %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
            %p.in-grey-600.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
            .general-align.pt-20
              %button.btn.btn-primary Buy Now
  %a.left.carousel-control{ href: "#slider", role: "button", 'data-slide': "prev"} 
    %span.icon-prev{ 'aria-hidden': "true"} 
    %span.sr-only Previous
  %a.right.carousel-control{ href: "#slider", role: "button", 'data-slide': "next"} 
    %span.icon-next{ 'aria-hidden': "true"} 
    %span.sr-only Next
