%h1.general-title-margin Order R25314582
.row.mb-20
  .col-sm-3
    %h3.general-subtitle.mt-0 Shipping Address
    %p.general-address
      John Doe
      %span.general-edit edit
      %br
      44 Fifth Ave v231
      %br
      New York NY 1001
      %br
      United States
      %br
      Phone +16507599755
  .col-sm-3
    %h3.general-subtitle.mt-0 Billing Address
    %p.general-address
      John Doe
      %span.general-edit edit
      %br
      44 Fifth Ave v231
      %br
      New York NY 1001
      %br
      United States
      %br
      Phone +16507599755
  .col-sm-3
    %h3.general-subtitle.mt-0 Shipments
    %p.general-address
      Delivery Next Day!
      %span.general-edit edit
      %br
      By train
  .col-sm-3
    %h3.general-subtitle.mt-0 Payment Information
    %p.general-address
      ** ** ** 8756
      %span.general-edit edit
      %br
      12/2018
