%h1.general-title-margin Order #{presenter.order_number}
= render partial: 'details', locals: { order: presenter.order_details }
= render partial: 'order_item/table', locals: { items: presenter.items_table }
= render partial: 'orders/summary', locals: { order: presenter.order_summary }
