= link_to :back, class: 'general-back-link' do
  %i.fa.fa-long-arrow-left.mr-15
  Back to results

.row
  .col-sm-6
    .product-gallery
      .mb-20
        = image_tag presenter.book.primary_cover, class: 'img-responsive img-shadow'
      - if presenter.book.minor_covers?
        .images.clearfix
          - presenter.book.minor_covers.each do |cover|
            = link_to '#', class: 'img-link' do
              = image_tag cover, class: 'width-full'
  .col-sm-6
    %h1.mt-res-0= presenter.book.title
    %p.in-grey-600.small= presenter.book.authors_names
    .row
      .col-xs-12.col-md-4
        %p.h1.in-gold-500.mt-10= presenter.book.price
      = form_tag add_to_cart_book_path(presenter.book), method: :post do
        .col-xs-5.col-md-3
          .input-group.general-position{data: {quantity: true}}
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            = text_field_tag :quantity, presenter.quantity, class: 'form-control quantity-input'
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
          -# = quantity_widget(presenter.book, book_fields)
        .col-xs-7.col-md-5
          = button_tag 'Add to Cart', class: 'btn btn-default pull-right general-position'
    .general-info-wrap.divider-lg
      %p Description
      = presenter.description
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Year of publication
        %p.in-grey-600.small.pull-right= presenter.book.publication_year
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Dimensions
        %p.in-grey-600.small.pull-right= presenter.book.dimensions
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Materials
        %p.in-grey-600.small.pull-right= presenter.book.materials

.mb-80
  = presenter.review_widget
