$footer-sticky-height: 170px;

html,
body {
  height: 100%;
}

.col-pic {
  width: 11.5%;
}
.col-title {
  width: 29.5%;
}
.col-price {
  width: 17.5%;
}
.col-quantity {
  width: 17.5%;
}
.col-total {
  width: 14%;
}
.col-close {
  width: 10%;
}
.col-method {
  width: 40%;
}
.col-half {
  width: 50%;
}
.general-main-container {
  min-height: calc(100vh - #{$footer-sticky-height});
}
.general-main-wrap {
  margin-bottom: 60px;
}
.general-img-wrap {
  max-width: 175px;
  padding-top: 70px;
  margin: 0 auto 70px;
}
.general-align {
  text-align: center;
}
.general-thumb-wrap {
  max-width: 270px;
  margin: 0 auto;
}
.general-thumbnail {
  padding: 70% 0;
  position: relative;
}
.general-thumbnail .general-thumbnail-img {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.general-thumb-link-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.general-nav-mail {
  font-size: 12px;
  color: $gold-500;
  text-align: center;
  margin-bottom: 15px;
}
.general-nav-number {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.general-badge {
  position: absolute;
  top: -4px;
  left: 100%;
}
.general-title-margin {
  margin-top: 0;
  margin-bottom: 35px;
}
.general-thumb-info {
  margin-bottom: 35px;
}
.general-info-wrap {
  padding-top: 20px;
}
.general-back-link {
  font-size: $font-size-base;
  color: $grey-600;
  display: inline-block;
  margin-bottom: 30px;
  &:hover,
  &:focus {
    color: $grey-600;
  }
}
.general-position {
  margin-top: 10px;
  margin-bottom: 30px;
}
.general-item-info {
  font-size: 14px;
  color: $grey-600;
  word-break: break-word;
  margin-left: 20px;
  margin-bottom: 20px;
}
.general-img-wrap-table {
  max-width: 140px;
  margin: 0 auto 25px;
}
.general-cart-item {
  padding-top: 30px;
  padding-bottom: 5px;
}
.general-cart-close {
  font-size: 28px;
  transform: translateY(-50%);
}
.general-summary-table {
  width: 100%;
  max-width: 200px;
  text-align: left;
  margin: 0 auto 50px;
}
.general-text-align {
  text-align: center;
}
.general-order-wrap {
  padding-top: 15px;
}
.general-input-group {
  margin-bottom: 35px;
}
.general-subtitle {
  color: $gold-500;
  font-weight: 400;
}
.general-info-text {
  font-size: $font-size-base;
  color: $grey-600;
  font-weight: 300;
}
.general-form-help {
  color: $grey-600;
  position: absolute;
  top: 35px;
  right: 8px;
  cursor: pointer;
}
.general-address {
  font-size: 16px;
  color: $grey-900;
  font-weight: 300;
  line-height: 2;
}
.general-edit {
  font-size: 13px;
  color: $grey-600;
}
.general-order-number {
  font-size: 18px;
  color: $gold-500;
  font-weight: 600;
}
.general-sign-text {
  color: $grey-700;
  font-weight: 300;
}
.general-login-title {
  font-size: 18px;
  color: $grey-900;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
.general-login-icon {
  font-size: 24px;
  color: $grey-900;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}
.general-login-text {
  color: $grey-600;
  font-weight: 300;
  margin-bottom: 25px;
}
.general-form{
  max-width: 370px;
  margin: 0 auto 20px;
}
.general-password-text {
  font-size: 16px;
  color: $grey-600;
  font-weight: 300;
  margin: 0 20px 25px;
}
.general-settings-btn {
  text-align: center;
}
.general-order-number {
  font-size: 16px;
  color: $gold-500;
  font-weight: 300;
}
.general-message-verified {
  font-size: 12px;
  color: $grey-350;
  line-height: 21px;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
.general-message-name {
  font-size: $font-size-base;
  color: $gold-500;
  font-weight: 400;
  margin-bottom: 10px;
}
.general-message-date {
  font-size: $font-size-base;
  color: $grey-600;
  float: right;
}
.general-title {
  font-size: $font-size-large;
  word-break: break-word;
}


@media (min-width: $grid-float-breakpoint) {
  .general-main-wrap {
    margin-bottom: 100px;
  }
  .general-caption {
    padding-top: 20px;
    padding-left: 20px;
  }
  .general-align {
    text-align: left;
  }
  .general-nav-mail,
  .general-nav-number {
    text-align: left;
  }
  .item {
    margin-bottom: 30px;
  }
  .caption {
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .general-title-margin {
    margin-bottom: 50px;
  }
  .general-thumb-info {
    margin-bottom: 45px;
  }
  .general-position {
    margin-top: 15px;
  }
  .general-img-wrap-table {
    max-width: 80px;
    margin-right: 0;
    margin-left: 0;
  }
  .general-cart-close {
    transform: unset;
  }
  .general-summary-table {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .general-summary-table-right {
    margin-right: 0;
    margin-left: auto;
  }
  .general-order-wrap {
    margin-bottom: 35px;
    border-bottom: 1px solid $grey-200;
  }
  .general-input-group {
    margin-bottom: 10px;
  }
  .general-text-align {
    text-align: left;
  }
  .general-text-right {
    text-align: right;
  }
  .general-settings-btn {
    float: left;
    margin-right: 40px;
  }
  .general-settings-checkbox {
    float: left;
  }
  .general-form-md {
    max-width: 470px;
  }
  .general-order-dropdown {
    width: 240px;
    float: right;
  }
  .general-carousel-indicators {
    width: 7%;
    left: 90%;
    margin-left: 0;
  }
  .mt-res-0 {
    margin-top: 0;
  }
  .mb-res-50 {
    margin-bottom: 50px;
  }
  .res-block {
    display: block;
  }
}

@media (min-width: $screen-md-min) {
  .res-mr-200 {
    margin-right: 200px;
  }
  .general-img-wrap {
    max-width: 250px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .general-caption {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 85px;
  }
}
