%h1.general-title-margin Сatalog
.hidden-xs.clearfix
  .dropdowns.pull-right
    .dropdown.width-240
  %ul.list-inline.pt-10.mb-25.mr-240
    = catalog_header_link_to categories_path, title: 'All', badge: Book.count
    - categories.each do |category|
      = catalog_header_link_to category, title: category.title, badge: category.books.count

