-# .hidden-xs
= render partial: 'products/table_desktop', locals: { products: presenter.products }
-# .visible-xs
-#   = render partial: 'products/table_phone', locals: { products: presenter.products }
