<!DOCTYPE html>
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %title Bookstore
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet"}
    %link{href: "../css/style.css", rel: "stylesheet"}
  %body
    %header.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.pull-left.ml-15{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
            %span.sr-only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand Bookstore
          %a.shop-link.pull-right.visible-xs{href: "#"}
            %span.shop-icon
              %span.shop-quantity 3
        %a.shop-link.pull-right.hidden-xs{href: "#"}
          %span.shop-icon
            %span.shop-quantity 3
        #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
          .visible-xs
            %button.close{type: "button", 'aria-label': "Close"}
              %span{'aria-hidden': "true"} &times;
            %ul.nav.navbar-nav
              %li
                %a{href: "#"} Home
              %li
                %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"} Shop
                %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
                  %li
                    %a.collapse-link{href: "#"} Mobile development
                  %li
                    %a.collapse-link{href: "#"} Photo
                  %li
                    %a.collapse-link{href: "#"} Web design
              %li
                %a{href: "#"} My account
          .hidden-xs
            %ul.nav.navbar-nav
              %li
                %a{href: "#"} Home
              %li.dropdown
                %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
                %ul.dropdown-menu
                  %li
                    %a{href: "#"} Mobile development
                  %li
                    %a{href: "#"} Photo
                  %li
                    %a{href: "#"} Web design
                  %li.divider{role: "separator"}
                  %li
                    %a{href: "#"} Log out
              %li
                %a{href: "#"} My account
    %main.container.general-main-wrap
      %h1.general-title-margin Checkout
      %ul.steps.list-inline
        %li.step.active
          %span.step-number 1
          %span.step-text.hidden-xs Address
        %li.step-divider
        %li.step
          %span.step-number 2
          %span.step-text.hidden-xs Delivery
        %li.step-divider
        %li.step
          %span.step-number 3
          %span.step-text.hidden-xs Payment
        %li.step-divider
        %li.step
          %span.step-number 4
          %span.step-text.hidden-xs Confirm
        %li.step-divider
        %li.step
          %span.step-number 5
          %span.step-text.hidden-xs Complete
      %h3.general-subtitle Credit Card
      .visible-xs
        .general-cart-item.divider-lg-bottom
          %table.table
            %tr
              %td.col-half
                %span.in-grey-600 Method
              %td.col-half
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    %input.radio-input{type: "radio", hidden: "true"}
                    %span.radio-icon
                    %span.radio-text Delivery Next Day!
            %tr
              %td
                %span.in-grey-600 Days
              %td
                %span.font-16.font-weight-light 3 to 7 days
            %tr
              %td
                %span.in-grey-600 Price
              %td
                %span.font-16.in-gold-500 €5.00
        .general-cart-item.divider-lg-bottom.mb-30
          %table.table
            %tr
              %td.col-half
                %span.in-grey-600 Method
              %td.col-half
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    %input.radio-input{type: "radio", hidden: "true"}
                    %span.radio-icon
                    %span.radio-text Delivery Next Day!
            %tr
              %td
                %span.in-grey-600 Days
              %td
                %span.font-16.font-weight-light 3 to 7 days
            %tr
              %td
                %span.in-grey-600 Price
              %td
                %span.font-16.in-gold-500 €5.00
      .hidden-xs.mb-res-50
        %table.table.table-hover
          %thead
            %tr
              %th.col-method
                %span.in-grey-600.ml-40 Method
              %th
                %span.in-grey-600 Days
              %th
                %span.in-grey-600 Price
          %tbody
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    %input.radio-input{type: "radio", hidden: "true"}
                    %span.radio-icon
                    %span.radio-text Delivery Next Day!
              %td
                %span 3 to 7 days
              %td
                %span.font-16.in-gold-500 €28.50
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    %input.radio-input{type: "radio", hidden: "true"}
                    %span.radio-icon
                    %span.radio-text Delivery Next Day!
              %td
                %span 3 to 7 days
              %td
                %span.font-16.in-gold-500 €28.50
      .general-text-align
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table
          %tr
            %td
              %p.font-16 Subtotal:
            %td
              %p.font-16 €117.69
          %tr
            %td
              %p.font-16 Coupon:
            %td
              %p.font-16 €0.00
          %tr
            %td
              %strong.font-18 Order Total:
            %td
              %strong.font-18 €117.69
      .text-center
        %button.btn.btn-default.mb-20 Save and Continue
    %footer.navbar.navbar-inverse.mb-0
      .container
        .row
          .col-sm-9
            %ul.list-inline.general-align.mb-25
              %li
                %a.nav-link{href: "#"} Home
              %li
                %a.nav-link{href: "#"} Shop
              %li
                %a.nav-link{href: "#"} Orders
              %li
                %a.nav-link{href: "#"} Settings
          .col-sm-3
            %p.general-nav-mail support@bookstore.com
            %p.general-nav-number (555)-555-5555
            %ul.list-inline.general-align
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-facebook{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-twitter{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-google-plus{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-instagram{'aria-hidden': "true"}
    %script{src: "https://use.fontawesome.com/67602d7308.js"}
    %script{src: "../../javascripts/jquery.js"}
    %script{src: "../../javascripts/bootstrap.js"}
